# Node.js dependencies
node_modules/


# IDE-specific files
.idea/
.vscode/

# Build files and generated directories
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db